<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Салон мебели SitDownPls</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    @@include('header.html')

    <h1 class="visually-hidden">Салон мебели SitDownPls</h1>
    <main class="container card">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Главная</a>
            </li>
            <li>
                <a href="catalog.html">Каталог</a>
            </li>
            <li>
                <a href="#">Диваны</a>
            </li>
            <li>
                <a href="catalog.html">Прямые диваны</a>
            </li>
            <li class="breadcrumb__active">D-31</li>
        </ul>
        <section class="card__top">
            <div class="grid card__grid">
                <div class="grid__item card__sofa">
                    <picture>
                        <source media="(max-width: 556px)" srcset="images/card-sofa-320.png">
                        <source media="(max-width: 992px)" srcset="images/sofa-d31-768.png">
                        <source media="(max-width: 1200px)" srcset="images/sofa-d31-1200.png">
                        <img src="images/card-sofa.png" alt="Синий диван D-31">
                    </picture>
                </div>
                <div class="grid__item card__buy">
                    <span class="card__stars">
                        <img src="images/star.png" alt="Звезда">
                        <span class="card__stars-grade">
                            4,8
                        </span>
                    </span>
                    <h2 class="text card__subtitle">Диван тканевый прямой “D-31”</h2>
                    <span class="card__subtitle-info">Мини 120 см без ящика Stark синий (Рогожка)</span>
                    <span class="card__buy-price">28 490 руб</span>
                    <button class="btn card__buy-btn violet-btn">Купить в один клик</button>
                    <button class="btn card__buy-add">+ Добавить в корзину</button>
                </div>
                <div class="grid__item card__desc">
                    <div class="card__desc-txt">
                        <h3 class="text card__desc-subtitle">Опорный механизм</h3>
                        <p class="text card__desc-text">Опорный механизм напоминает пантограф, к которому добавили
                            дополнительную секцию. У опорного дивана сиденье &laquo;выпрыгивает&raquo; вперёд
                            и вытаскивает вторую часть спального места. Заключительный штрих &mdash; опустить
                            спинку.</p>
                        <p class="text card__desc-text">
                            Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы,
                            чтобы
                            разложить диван, но подросток справится.</p>
                    </div>
                    <div class="card__desc-img">
                    </div>
                </div>
                <table class="grid__item card__feature">
                    <tbody class="card__list">
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Гарантия</span>
                                </span>
                            </th>
                            <td class="card__list-desc">18 месяцев</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Артикул</span>
                                </span>
                            </th>
                            <td class="card__list-desc">AAA41269004</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Длина</span>
                                </span>
                            </th>
                            <td class="card__list-desc">163 см</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Высота</span>
                                </span>
                            </th>
                            <td class="card__list-desc">90 см</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Глубина</span>
                                </span>
                            </th>
                            <td class="card__list-desc">108 см</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Спальное место</span>
                                </span>
                            </th>
                            <td class="card__list-desc">200 см х 125 см</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Высота посадки</span>
                                </span>
                            </th>
                            <td class="card__list-desc">45 см</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Механизм</span>
                                </span>
                            </th>
                            <td class="card__list-desc">Опорный</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Тип обивки</span>
                                </span>
                            </th>
                            <td class="card__list-desc">Рогожка</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Цвет</span>
                                </span>
                            </th>
                            <td class="card__list-desc">Синий</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Наполнитель</span>
                                </span>
                            </th>
                            <td class="card__list-desc">Независимый пружинный блок</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Материал каркаса</span>
                                </span>
                            </th>
                            <td class="card__list-desc">Металл. рама с дерев. латами</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Количество мест</span>
                                </span>
                            </th>
                            <td class="card__list-desc">Двухместные</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Категория</span>
                                </span>
                            </th>
                            <td class="card__list-desc">Прямые тканевые диваны</td>
                        </tr>
                        <tr class="card__list-inner">
                            <th class="card__list-title">
                                <span class="card__list-key">
                                    <span>Возврат</span>
                                </span>
                            </th>
                            <td class="card__list-desc">Условия</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="card__bottom similar">
            <h2 class="text similar__title">Похожие товары</h2>
            <div class="grid similar__grid">
                <div class="grid__item similar__block">
                    <article class="product">
                        <span class="product__stars">
                            <img src="images/star.png" alt="Звезда">
                            <span class="product__stars-grade">
                                4,5
                            </span>
                        </span>
                        <div class="product__sofa">
                            <picture>
                                <source media="(max-width: 556px)" srcset="images/sofa-r85-320.png">
                                <img class="product__img" src="images/sofa-r85.png" alt="Тёмно-зелёный диван">
                            </picture>
                        </div>
                        <div class="product__info">
                            <h3 class="text product__subtitle">Диван велюровый <br>“R-85”</h3>
                            <span class="product__price">34 990 руб</span>
                            <button class="btn product__btn white-btn">Купить</button>
                        </div>
                    </article>
                </div>
                <div class="grid__item similar__block">
                    <article class="product">
                        <span class="product__stars">
                            <img src="images/star.png" alt="Звезда">
                            <span class="product__stars-grade">
                                4,6
                            </span>
                        </span>
                        <div class="product__sofa">
                            <picture>
                                <source media="(max-width: 556px)" srcset="images/sofa-h58-320.png">
                                <img class="product__img" src="images/sofa-h58.png" alt="Светло-синий диван">
                            </picture>
                        </div>
                        <div class="product__info">
                            <h3 class="text product__subtitle">Диван флоковый <br>“H-58”</h3>
                            <span class="product__price">23 990 руб</span>
                            <button class="btn product__btn white-btn">Купить</button>
                        </div>
                    </article>
                </div>
                <div class="grid__item similar__block similar__block-3">
                    <article class="product">
                        <span class="product__stars">
                            <img src="images/star.png" alt="Звезда">
                            <span class="product__stars-grade">
                                4,5
                            </span>
                        </span>
                        <div class="product__sofa">
                            <img class="product__img" src="images/sofa-s44.png" alt="Синий диван">
                        </div>
                        <div class="product__info">
                            <h3 class="text product__subtitle">Диван велюровый <br>“S-44”</h3>
                            <span class="product__price">19 990 руб</span>
                            <button class="btn product__btn white-btn">Купить</button>
                        </div>
                    </article>
                </div>
                <div class="grid__item similar__block similar__block-4">
                    <article class="product">
                        <span class="product__stars">
                            <img src="images/star.png" alt="Звезда">
                            <span class="product__stars-grade">
                                4,8
                            </span>
                        </span>
                        <div class="product__sofa">
                            <img class="product__img" src="images/sofa_v43.png" alt="Серый диван">
                        </div>
                        <div class="product__info">
                            <h3 class="text product__subtitle">Диван шиниловый <br>“V-43”</h3>
                            <span class="product__price">19 990 руб</span>
                            <button class="btn product__btn white-btn">Купить</button>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>

    @@include('footer.html')
</body>
</html>