$lightGrey: #f6f6f6;
$orange: #ff862f;
$lightOrange: #ffbd59;
$darkOrange: #bb370e;
$yellow: #fff5d1;
$grey: #999999;
$darkGrey: #666666; 
$violet: #a65cf0;
$darkViolet: #7033ac;
$lightViolet: #c998fb;
$pink: #ebd1ff;
$lightPink: #f8efff;
$white: #ffffff;
$black: #333333;
$gold: #d5b986;
$greyBackground: #eaeaea;
$green: #b8ec64;